global:
    evaluation_interval: 30s
    external_labels: null
    scrape_interval: 15s
    scrape_timeout: 10s

scrape_configs:
    # Prometheus
    - job_name: prometheus
      honor_labels: true
      metrics_path: /prometheus/metrics
      scrape_interval: 10s
      scrape_timeout: 6s
      static_configs:
          - targets:
                - traefik
      basic_auth:
          username: admin
          password: foobar
    # Grafana
    - job_name: grafana
      metrics_path: /grafana/metrics
      static_configs:
          - targets:
                - traefik
    # Traefik
    - job_name: traefik
      metrics_path: /traefik/metrics
      static_configs:
          - targets:
                - traefik
      basic_auth:
          username: admin
          password: foobar
    #Node_Exporter
    - job_name: node
      metrics_path: /node_exporter
      static_configs:
          - targets:
                - traefik
      basic_auth:
          username: admin
          password: foobar
